mixin tarif-item(tags, title, list, price, classType)
  div(class="sec-tarifs__item "+classType,  data-tarif=tags[0])
    .sec-tarifs__item-body
      .sec-tarifs__item-tags 
        p= tags[0]
        span= tags[1]

      .sec-tarifs__item-title= title

      ul.sec-tarifs__item-list
        each val in list
          li!= val

    .sec-tarifs__item-price!= price


section#tarifs.sec-tarifs(data-aos="fade-in" data-aos-offset="300")
  .container-2
    .sec-tarifs__title Выбери свой курс
    .sec-tarifs__list(data-aos="fade-up" data-aos-offset="300" data-aos-anchor-placement="top-bottom")
      +tarif-item(['business', 'group'], 'Мужская бизнес-группа', ['Группа из 6-8 человек с <br/> одним уровнем языка + <br/> педагог с опытом групповой прокачки','Доступ к ИИ боту на <br/> 6 месяцев','Прогресс-тесты','Подарки каждую <br/> неделю за набранные <br/> баллы'], '<span>990 &#8381;/</span>урок')
      +tarif-item(['talking', 'group'], 'Женская разговорная группа', ['Группа из 6-8 человек с <br/> одним уровнем языка + <br/> педагог с опытом групповой прокачки','Доступ к ИИ боту на <br/> 6 месяцев','Прогресс-тесты','Подарки каждую <br/> неделю за набранные <br/> баллы'], '<span>1190 &#8381;/</span>урок', 'talking')
      +tarif-item(['level up', 'group'], 'Уроки для подростков 12-17 лет', ['Группа из 6-8 человек с <br/> одним уровнем языка + <br/> педагог с опытом групповой прокачки','Доступ к ИИ боту на <br/> 6 месяцев','Прогресс-тесты','Подарки каждую <br/> неделю за набранные <br/> баллы'], '<span>695 &#8381;/</span>урок', 'levelup')
      +tarif-item(['Pro', 'group'], 'Premium уроки от профи 25-35 лет', ['Группа из 6-8 человек с <br/> одним уровнем языка + <br/> педагог с опытом групповой прокачки','Доступ к ИИ боту на <br/> 6 месяцев','Прогресс-тесты','Подарки каждую <br/> неделю за набранные <br/> баллы'], '<span>2800 &#8381;/</span>урок', 'pro')
  
  include ./benefits.pug
        
